<div class="calc">
  <div class="display">
    <div class="expression">{{AppComponent.expression}}</div>
    <div class="result">{{AppComponent.result}}</div>
  </div>
  <div class="table-area">
    <table>
      <tr>
        <td><button>+/-</button></td>
        <td><button id="c">C</button></td>
        <td>
          <button id="backspace">
            <img src="../backspace.png" width="25px" height="25px" />
          </button>
        </td>
        <td><button (click)="AppComponent.setOperator('+')">+</button></td>
      </tr>
      <tr>
        <td><button (click)="AppComponent.setNumber(1)">1</button></td>
        <td><button (click)="AppComponent.setNumber(2)">2</button></td>
        <td><button (click)="AppComponent.setNumber(3)">3</button></td>
        <td><button (click)="AppComponent.setOperator('-')">-</button></td>
      </tr>
      <tr>
        <td><button (click)="AppComponent.setNumber(4)">4</button></td>
        <td><button (click)="AppComponent.setNumber(5)">5</button></td>
        <td><button (click)="AppComponent.setNumber(6)">6</button></td>
        <td><button (click)="AppComponent.setOperator('*')">*</button></td>
      </tr>
      <tr>
        <td><button (click)="AppComponent.setNumber(7)">7</button></td>
        <td><button (click)="AppComponent.setNumber(8)">8</button></td>
        <td><button (click)="AppComponent.setNumber(9)">9</button></td>
        <td><button (click)="AppComponent.setOperator('/')">/</button></td>
      </tr>
      <tr>
        <td><button id="dot">.</button></td>
        <td><button id="0">0</button></td>
        <td colspan="2" class="twocol" (click)="AppComponent.calculate()">
          <button>=</button>
        </td>
      </tr>
    </table>
  </div>
</div>
