.expression {
  height: 50px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 30px;
  text-align: end;
}
.result {
  height: 50px;
  margin: 5px;
  margin-bottom: 0px;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: end;
}
